.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #1e87f0;
  height: 30px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #eeeeee;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mainContainer {
	max-width: 100%;
	text-align: center;
	padding: 20px;
	margin-left: 20px;
}

.mainContainer .generateWords {
	margin: 0px auto;
}

.generateButton {
	float:left;
}
